    <!-- <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top box">
      <a href="/" class="navbar-brand">
        <h3><strong>Macha</strong></h3>
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#linki">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="linki">
        <ul class="navbar-nav">
          <li>
            <input type="text" placeholder="Search" class="mobi">
          </li>
          <li class="navbar-item dropdown"><a href="#" class="nav-link dropdown-toggle" id="men-list" data-toggle="dropdown">Men</a>
            <div id="men-list" class="dropdown-menu ac-dp">
              <a href="#" class="dropdown-item">Shirts</a>
              <a href="#" class="dropdown-item">Trousers</a>
              <a href="#" class="dropdown-item">Sneakers</a>
            </div>
          </li>
          <li class="navbar-item"><a href="#" class="nav-link">Women</a></li>
          <li class="navbar-item"><a href="#" class="nav-link">Kids</a></li>
          <li class="navbar-item dropdown"><a href="#" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Acessories</a>
            <div id="navbardrop" class="dropdown-menu ac-dp">
              <a href="#" class="dropdown-item">Phone cases</a>
              <a href="#" class="dropdown-item">Backpacks</a>
              <a href="#" class="dropdown-item">Duffle bags</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="search">
        <input type="text" name="searachtext" placeholder="  Search...">
        <br>
      </div>


      <div class="login-menu">
        <strong><b><a href="#">Login</a></b></strong>
      </div>
      <div class="shopping-cart">
        <strong><b><a href="#">Shopping cart</a></b></strong>
      </div>
    </nav> -->


  <div id="d"class="carousel slide" data-ride="carousel">
    <!-- Indicator -->
    <ul class="carousel-indicators">
      <li data-target="#d" data-slide-to="0" class="active"></li>
      <li data-target="#d" data-slide-to="1"></li>
      <li data-target="#d" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner caro">
      <div class="carousel-item active">
        <img src="src\assets\images\men.jpg" alt="Macho man">
      </div>
      <div class="carousel-item">
        <img src="src\assets\images\women.jpg" alt="Pretty lady">
      </div>
      <div class="carousel-item">
        <img src="src\assets\images\kids.jpg" alt="cute kids">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <!-- login page -->
  <div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <!-- <app-men></app-men> -->
