<div class="footer-container">
  <div class="row">
    <div class="col-6 col-md-3 col-xs-6">
      <div class="footerlinks">
        <h5><strong>NEED HELP</strong></h5>
        <ul class="footer-need-help">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Shipping & Tracking</a></li>
          <li><a href="#">Return & Exchange</a></li>
        </ul>
      </div>
    </div>
    <div class="col-6 col-md-3 col-xs-6">
      <div class="footerlinks">
        <h5><strong>COMPANY</strong></h5>
        <ul class="footer-need-help">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">T&C's</a></li>
        </ul>
      </div>
    </div>
    <div class="col-6 col-md-3 col-xs-6">
      <div class="footerlinks">
        <h5><strong>More Info</strong></h5>
        <ul class="footer-need-help">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">T&C's</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="social-grid">
      <ul>
        <li>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-twitter"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="closing">
    <span>Copyright  &copy;</span><span> The Macha Store 2018-19</span>
    </div>
  </div>
  </div>

</div>
