<div class="row">
  <div class="exx">
  <button class="accordion" data-toggle="collapse" data-target="#i1">SHIRTS</button>
    <div class="panel collapse" id="i1">
      <ul class="shirt-subfilter">
        <li>
          <div class="s1">
            <input type="checkbox">
            <label for="men-shirt">Checked-Shirt</label>
          </div>
        </li>
        <li>
          <div>
            <input type="checkbox">
            <label for="men-shirt">Linen-Shirt</label>
          </div>
        </li>
        <li>
          <div>
            <input type="checkbox">
            <label for="men-shirt">Plain-Shirt</label>
          </div>
        </li>
      </ul>
    </div>

    <button class="accordion" data-toggle="collapse" data-target="#i2">TROUSERS</button>
      <div class="panel collapse" id="i2">
        <ul class="shirt-subfilter">
          <li>
            <div class="s1">
              <input type="checkbox">
              <label for="men-shirt">Chinos</label>
            </div>
          </li>
          <li>
            <div>
              <input type="checkbox">
              <label for="men-shirt">Jeans</label>
            </div>
          </li>
          <li>
            <div>
              <input type="checkbox">
              <label for="men-shirt">Shorts</label>
            </div>
          </li>
        </ul>
      </div>

      <button class="accordion" data-toggle="collapse" data-target="#i3">SHOES</button>
        <div class="panel collapse" id="i3">
          <ul class="shirt-subfilter">
            <li>
              <div class="s1">
                <input type="checkbox">
                <label for="men-shirt">Sneakers</label>
              </div>
            </li>
            <li>
              <div>
                <input type="checkbox">
                <label for="men-shirt">Formal shoes</label>
              </div>
            </li>
            <li>
              <div>
                <input type="checkbox">
                <label for="men-shirt">Casual shoes</label>
              </div>
            </li>
          </ul>
        </div>
</div>
<div class="left-container">
  <div class="filter-main">
      <div class="filter-head">
        <div class="filterheading">
          <h4>FILTERS</h4>
        </div>
      </div>

      <div class="filter-body">
        <div class="c1">
          <ul class="filter-list">
            <li class="list-itm">
              <div class="subfilter-main">
                <div class="subfilter-header" data-toggle="collapse" data-target="#id1">
                  <span><b></b></span>
                  <span class="subfilhead"><strong>SHIRTS</strong></span>
                </div>
                <div id="id1"class="collapse subfilter-body">
                  <ul class="shirt-subfilter">
                    <li>
                      <div class="s1">
                        <input type="checkbox">
                        <label for="men-shirt">Checked-Shirt</label>
                      </div>
                    </li>
                    <li>
                      <div>
                        <input type="checkbox">
                        <label for="men-shirt">Linen-Shirt</label>
                      </div>
                    </li>
                    <li>
                      <div>
                        <input type="checkbox">
                        <label for="men-shirt">Plain-Shirt</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
        </div>

        <div class="c2">
          <ul class="filter-list">
            <li class="list-itm">
              <div class="subfilter-main">
                <div class="subfilter-header" data-toggle="collapse" data-target="#id2">
                  <span><b></b></span>
                  <span class="subfilhead"><strong>TROUSERS</strong></span>
                </div>
                <div id="id2"class="collapse subfilter-body">
                  <ul class="shirt-subfilter">
                    <li>
                      <div class="s1">
                        <input type="checkbox">
                        <label for="men-shirt">Chinos</label>
                      </div>
                    </li>
                    <li>
                      <div>
                        <input type="checkbox">
                        <label for="men-shirt">Jeans</label>
                      </div>
                    </li>
                    <li>
                      <div>
                        <input type="checkbox">
                        <label for="men-shirt">Shorts</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
        </div>


        <div class="c3">
          <ul class="filter-list">
          <li class="list-itm">
            <div class="subfilter-main">
              <div class="subfilter-header" data-toggle="collapse" data-target="#id3">
                <span><b></b></span>
                <span class="subfilhead"><strong>SHOES</strong></span>
              </div>
              <div id="id3" class=" collapse subfilter-body">
                <ul class="shirt-subfilter">
                  <li>
                    <div class="s1">
                      <input type="checkbox">
                      <label for="men-shirt">Sneakers</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <input type="checkbox">
                      <label for="men-shirt">Formal shoes</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <input type="checkbox">
                      <label for="men-shirt">Casual shoes</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </ul>
        </div>

      </div>
    </div>
  </div>

    <!-- right container -->
    <div class="right-container">
      <!-- <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
      </p> -->
      <div class="filter-main-right">
      <div class="card">
              <img src="src\assets\images\r1.jpg" alt="ranbir">
              <p class="pdtitle"><b>Allen Solly</b></p>
              <p class="price">1200</p>
              <p class="pddesc">Plain Black Shirt</p>
              <p><button>Add to Cart</button></p>
      </div>

      <div class="card">
              <img src="src\assets\images\dq2.jpg" alt="ranbir">
              <p><b>Espirit</b></p>
              <p class="price">1200</p>
              <p class="pddesc">Plain Black Shirt</p>
              <p><button>Add to Cart</button></p>
      </div>

      <div class="card">
              <img src="src\assets\images\srk1.jpg" alt="ranbir">
              <p><b>Van Husen</b></p>
              <p class="price">1200</p>
              <p class="pddesc">Plain Black Shirt</p>
              <p><button>Add to Cart</button></p>
      </div>


      <div class="card">
              <img src="src\assets\images\f1.jpg" alt="ranbir">
              <p class="pdtitle"><b>Allen Solly</b></p>
              <p class="price">1200</p>
              <p class="pddesc">Plain Black Shirt</p>
              <p><button>Add to Cart</button></p>
      </div>

      <div class="card">
              <img src="src\assets\images\vtv1.jpg" alt="ranbir">
              <p><b>Espirit</b></p>
              <p class="price">1200</p>
              <p class="pddesc">Plain Black Shirt</p>
              <p><button>Add to Cart</button></p>
      </div>

      <div class="card">
              <img src="src\assets\images\d1.jpg" alt="ranbir">
              <p><b>Van Husen</b></p>
              <p class="price">1200</p>
              <p class="pddesc">Plain Black Shirt</p>
              <p><button>Add to Cart</button></p>
      </div>

      <div class="card">
              <img src="src\assets\images\vtv1.jpg" alt="ranbir">
              <p><b>Espirit</b></p>
              <p class="price">1200</p>
              <p class="pddesc">Plain Black Shirt</p>
              <p><button>Add to Cart</button></p>
      </div>
      <div class="card">
              <img src="src\assets\images\vtv1.jpg" alt="ranbir">
              <p><b>Espirit</b></p>
              <p class="price">1200</p>
              <p class="pddesc">Plain Black Shirt</p>
              <p><button>Add to Cart</button></p>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>
<!-- <p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
</p>
<p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
</p>
<p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
</p>
<p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
</p>
<p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
</p>
<p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
</p> -->
